[Desktop Entry]
Version=1.5
Type=Application
Name=Ianny
GenericName=Break Notifier
Comment=Help preventing repetitive strain injuries by keeping track of usage patterns and periodically informing user to take breaks.
Exec=ianny
NoDisplay=true
Terminal=false
SingleMainWindow=true
Categories=Utility
Keywords=RSI;eye;
X-GNOME-Autostart-enabled=true
